body {
   margin: 0;
}

code { 
   display: block;
   background-color: rgb(210, 210, 210);

}

h1 { 
   font-size: 3rem;
   margin: 1rem;
   color:rgb(255, 255, 255);
}

h2 {
   font-size: 1.4rem;
   margin: 1rem;

   color:rgb(255, 255, 255);
}

h3 {
   font-size: 1rem;
   /* margin: 1rem; */
   color:rgb(162, 160, 160);

}

h4 {
   font-size: 20px;
   color:rgb(162, 160, 160);

}

h5 {
   color:rgb(255, 255, 255);
   
}


body, #navbar {
   background-color: rgb(194, 54, 35);

}

#navbar {
   position: fixed;
   top: 0px;
   z-index: 1; /* stay on top */

   box-sizing: border-box;
   height: 60px;
   width: calc(100vw - 35px); /* I have no idea why this is 35px instead of 20px. From where did the extra 15px come? */ 
   margin: 0 10px;

   border: 1px solid black;
   display: flex;
   justify-content: center;
   padding-top: 18px;
} 

#nav-list { 

   height: 60px;

}

.nav-link {
  
   box-sizing: content-box;
   margin:  4px 6px;
   font-size: 20px;

   text-align: center;

   color:rgb(162, 160, 160);

}

.all-sections {
   box-sizing: border-box;
   height: 100vh;
   min-height: 415px;
   /* border: 1px black solid; */
   /* margin: 0px 2%; */
  
}

.section-container {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   box-sizing: border-box;
   height: calc(100vh - 60px);
   border: 1px black solid;
   margin: 0 10px;

}

.spacer-top {
   height: 60px;

}

.welcome-row {
   display: flex;
   justify-content: center;

}

.welcome-row h2 {
   width: 80px;
   text-align: center;
   /* border: 1px solid black; */

}

.left-align {
   text-align: left;
}

.right-align {
   text-align: right;
}

.center {
   width: 20px;

}

#welcome-section ul {
   display: flex;
   justify-content: center;

}

#welcome-section ul li {
   /* width: 120px; */
   /* border: 1px solid rgb(56, 21, 185); */
   text-align: center;
   /* margin: 1em 2em; */
   color:rgb(162, 160, 160);
   margin: 1rem;

}

.title {
   text-align: center;

}

/* 
#welcome-content-container, 
#projects-content-container, 
#contact-content-container {
   position: relative; 
   /* so that we will be able to use  
   relative positioning with divs inside

   background-repeat: no-repeat;
   background-position: center top;
   background-size: contain;

} 
*/
/* 
#welcome-content-container {
   background-image: url("");
 
}
 */

#projects-content-container {
   /* background-image: url(""); */
   display: flex;
   justify-content: center;
   /* border: 1px solid black; */
   
}

.project-tiles-container {

   box-sizing: border-box;
   min-width: 265px;
   min-height: 265px;
   height: width;
   width: 75vh;

   padding: 10px;
   /* border: 2px solid orange; */

   display: flex;
   flex-wrap: wrap;
}

.project-tile {
   height: 40%;
   width: 40%;
   margin: 5%;
   background-color:rgb(162, 160, 160);
   text-align: center;
   font-size: 2vh;

}

.image-container {
   height: 89%;
}


.project-tile img {
   width: 100%;
   height: 100%;
   object-position: center;
   object-fit: cover;
   background-color: rgb(162, 160, 160);
}

.project-name {
   background-color: white;
   line-height: 3vh;
   font-size: 2.5vh;
}

#contact-content-container {
  
   background-size: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

#contact-text-container {

   display: flex;
   flex-direction: column;
   align-items: space-around;
   text-align: center;
   margin-top: 30px;
   margin-bottom: 30px;
   font-size: 3vh;
  
}

#contact-text-container a {

    color: blue;
    font-size: 3vh;
    margin: 7px;

 }


#contact-form-container {

   container-type: size;
   width: 90%;
   height: 240px;
   /* border: 2px solid purple; */
   text-align: center;
   color: white;
   font-size: 3vh;
   
}

/* 
@media (max-width: 1440px) {

   #welcome-section ul li {
      margin: 0rem 2rem;

   }
   
}


@media (max-width: 756px) {



} */

@media (max-width: 480px) {
/* 
   h1 {
      font-size: 2rem;
   } 

   h2 {
      font-size: 1rem;
   } 
   
   h3 {
      font-size: .8rem;
   }
*/
   h5 {
      font-size: .8rem;
   } 

/*   
   #welcome-section ul li {
      margin: 0rem 1.2rem;

   } */


}

/* 
@media (max-width: 374px) {
    
   #welcome-section ul li { 
      margin: 0rem .8rem;
   
   }


   
} */
